<!-- Single Widget Area -->
<div class="single-widget-area search-widget">
    <form action="{% url 'webapp:search' %}" method="get">
        <input type="search" name="query" class="form-control" placeholder="Search ...">
        <button type="submit"><i class="icon_search"></i></button>
    </form>
</div>

<!-- Single Widget Area -->
<div class="single-widget-area catagories-widget">
    <h5 class="widget-title">Categories</h5>
    <!-- catagories list -->
    <ul class="catagories-list">
        {% for category in categories %}
            <li><a href="{% url 'webapp:category' category.pk %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</div>