<nav class="dento-pagination mb-100">
    <ul class="pagination">
        {% for l in page_obj.paginator.page_range %}
            {% if forloop.counter < 4 %}
                <li class="page-item active"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?{% if query %}{{ query }}{% endif %}&page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
        {% endif %}
    </ul>
</nav>