{% for user_feedback in user_feedbacks %}
    <div class="single-testimonial-slide d-flex align-items-center">
        <!-- Thumbnail -->
        <div class="testimonial-thumb">
            {% if user_feedback.image %}
                <img src="{{ user_feedback.image.url }}" alt="">
            {% endif %}
        </div>
        <!-- Content -->
        <div class="testimonial-content">
            <h5>{{ user_feedback.feedback }}</h5>
            <h6>{{ user_feedback.name }} {{ user_feedback.l_name}}</h6>
            {% if user_feedback.position %}
                <p>{{ user_feedback.position }}</p>
            {% endif %}
        </div>
    </div>
{% endfor %}