{% extends 'base.html' %}
{% block title %} Set An Appointment... {% endblock %}
{% block meta_description %}Appointment{% endblock %}
{% load static %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'webapp/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Appointment</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Set Appointment</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Contact Area Start ***** -->
    <div class="review_form_info" style="text-align: center">
        <h1>Review your Information:</h1>
        <strong>Your name: </strong>{{ your_name }}<br/>
        <strong>Phone: </strong>{{ your_phone }}<br/>
        <strong>Email: </strong>{{ your_email }}<br/>
        <strong>Address: </strong>{{ your_address }}<br/>
        <strong>When: </strong>{{ your_schedule }}<br/>
        <strong>Appointment Day: </strong>{{ your_date }}<br/>
        <strong>Your message: </strong>{{ your_message }}<br/>

    <br/><br/>
    <strong>Note:</strong> This appointment hasn't been set yet
    <p>We will contact you shortly via telephone or email to confirm your appointment.</p>
    </div><br/><br/><br/><br/>


  <!-- ***** Contact Area End ***** -->
{% endblock %}













<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


</body>
</html>