{% extends 'base.html' %}
{% block title %}Dento - Dentist &amp; Medical HTML Template{% endblock %}
{% block meta_description %}This is blog page {% endblock %}
{% load static %}
{% block content %}
    <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'webapp/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Blog</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'webapp:home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- *****Blog Area Start ***** -->
  <section class="dento-blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">

          <!-- Single Blog Item -->
            {% for blog in blogs %}
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
              <a href="{% url 'webapp:blog_detail' blog.pk %}">
              {% for photo_blog in blog.photo_blogs.all %}
                  {% if forloop.first %}
                      <img src="{{ photo_blog.photo.url }}" alt="">
                  {% endif %}
              {% endfor %}
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="{% url 'webapp:blog_detail' blog.pk %}" class="post-title">{{ blog.title }}</a>
              <p>{{ blog.description|truncatewords:21 }}</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> {{ blog.created_at| date:"M d" }}</a>
              </div>
            </div>
          </div>
            {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        </div>
        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">
              {% include 'partial/categories_and_search_form.html' %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- *****Blog Area End ***** -->
{% endblock %}