{% extends 'base.html' %}
{% block meta_description %}Dent Blog Detail{% endblock %}
{% load static %}
{% block content %}

  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">


        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
          {% for photo_blog in blog.photo_blogs.all %}
              {% if forloop.first %}
              <img src="{{ photo_blog.photo.url }}" alt="">
              {% endif %}
          {% endfor %}

            <h2 class="post-title">{{ blog.title }}</h2>
            <div class="post-meta">
              <a href="#"><i class="icon_clock_alt"></i> {{ blog.created_at|date:"M d" }}</a>
            </div>
            <p>{{ blog.description }}</p>
            <p>{{ blog.second_description }}</p>
                  <blockquote cite="" class="dento-blockquote d-flex">
                  <div class="icon">
                      <i class="fa fa-quote-left"></i>
                  </div>
                  <div class="text">
                      {% if blog.quote %}
                          <h5>{{ blog.quote }}</h5>
                      {% endif %}
              {% if blog.quote_author %}
                  <h6>{{ blog.quote_author }}
              {% endif %}
              {% if blog.quote_author_position %}/ <span>{{ blog.quote_author_position }}</span></h6>{% endif %}
                  </div>
                  </blockquote>
          {% if blog.third_description %}
              <p>{{ blog.third_description }}</p>
          {% endif %}

          {% if blog.photo_blogs.all|length != 1 %}
          {% for photo_blog in blog.photo_blogs.all %}
                  {% if forloop.last %}
                      <img src="{{ photo_blog.photo.url }}" alt="">
                  {% endif %}
          {% endfor %}
          {% endif %}
          {% if blog.fourth_description %}
              <p>{{ blog.fourth_description }}</p>
          {% endif %}
          </div>
        </div>
        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">
              {% include 'partial/categories_and_search_form.html' %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->
{% endblock %}